@import url("https://fonts.googleapis.com/css?family=Paytone+One"); /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch::before {
  content: "EN";
  color: blue;
  position: absolute;
  left: -50%;
  bottom: 0%;
}
.switch::after {
  content: "JP";
  color: green;
  position: absolute;
  right: -50%;
  bottom: 0%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.custom-select {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.select-selected {
  background-color: dodgerblue;
}
.select-selectedafter {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.loader-container {
  width: 30px;
  height: 30px;
  position: absolute;
  animation: scaleUp 0.5s linear;
  transform: scale(0);
  pointer-events: none;
  opacity: 0;
}
.loader-container .loader {
  background: #ff0c0c;
  background: linear-gradient(50deg, #ff0c0c, #21d400);
  border-radius: 10px;
  filter: hue-rotate(0deg);
  animation: filterHue 2.5s linear infinite;
  height: 100%;
  width: 100%;
  transform: rotate(0deg);
}

@-webkit-keyframes filterHue2 {
  50% {
    filter: hue-rotate(1000deg);
  }
  100% {
    filter: hue-rotate(2000deg);
  }
}
@-moz-keyframes filterHue2 {
  50% {
    filter: hue-rotate(1000deg);
  }
  100% {
    filter: hue-rotate(2000deg);
  }
}
@-ms-keyframes filterHue2 {
  50% {
    filter: hue-rotate(1000deg);
  }
  100% {
    filter: hue-rotate(2000deg);
  }
}
@keyframes filterHue2 {
  50% {
    filter: hue-rotate(1000deg);
  }
  100% {
    filter: hue-rotate(2000deg);
  }
}
@-webkit-keyframes filterHue {
  50% {
    filter: hue-rotate(1000deg);
  }
  100% {
    filter: hue-rotate(2000deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes filterHue {
  50% {
    filter: hue-rotate(1000deg);
  }
  100% {
    filter: hue-rotate(2000deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes filterHue {
  50% {
    filter: hue-rotate(1000deg);
  }
  100% {
    filter: hue-rotate(2000deg);
    transform: rotate(360deg);
  }
}
@keyframes filterHue {
  50% {
    filter: hue-rotate(1000deg);
  }
  100% {
    filter: hue-rotate(2000deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scaleUp {
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.25);
  }
}
@-moz-keyframes scaleUp {
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.25);
  }
}
@-ms-keyframes scaleUp {
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.25);
  }
}
@keyframes scaleUp {
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.25);
  }
}
@supports (-ms-ime-align: auto) {
  p {
    color: #21d400;
    background: transparent;
    mix-blend-mode: lighten;
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    animation: filterHue2 2s linear infinite;
  }
  p::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  p {
    color: #ff447c;
    background: transparent;
    mix-blend-mode: lighten;
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    animation: filterHue2 2s linear infinite;
  }
  p::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
  }
  .loader {
    background: linear-gradient(50deg, rgb(240, 0, 80), #2380ff) !important;
  }
}
html {
  min-height: 100%;
  position: relative;
}

* {
  font-family: "Alegreya", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-color: rgb(20, 20, 20);
}

header {
  height: 10%;
  width: 100%;
  background-image: linear-gradient(to bottom right, purple, blue);
  padding: 1rem;
  color: gold;
  box-shadow: 0 0 8px 5px white inset;
}

.app {
  height: 100%;
  overflow: hidden;
}

#getstarted {
  position: relative;
}
#getstarted .loading {
  color: white;
}
#getstarted[data-active-index="0"] #menu-background-pattern {
  background-position: 50% -40%;
}
#getstarted[data-active-index="1"] #menu-background-pattern {
  background-position: 10% 40%;
}
#getstarted[data-active-index="2"] #menu-background-pattern {
  background-position: -50% 50%;
}
#getstarted[data-active-index="3"] #menu-background-pattern {
  background-position: 10% -30%;
}
#getstarted[data-active-index="4"] #menu-background-pattern {
  background-position: -40% -100%;
}
#getstarted[data-active-index="0"] #menu-background-image {
  background-position: center 45%;
}
#getstarted[data-active-index="1"] #menu-background-image {
  background-position: center 50%;
}
#getstarted[data-active-index="2"] #menu-background-image {
  background-position: center 55%;
}
#getstarted[data-active-index="3"] #menu-background-image {
  background-position: center 60%;
}
#getstarted[data-active-index="4"] #menu-background-image {
  background-position: center 65%;
}

#menu-background-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.445) 3%, transparent 9%);
  background-position: 0% center;
  background-size: 12vmin 12vmin;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, background-size 800ms ease, left 800ms ease, background-position 2s ease;
  width: 100vw;
  z-index: -1;
}

#menu-background-image {
  background-image: url("https://images.unsplash.com/photo-1484589065579-248aad0d8b13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=459&q=80");
  background-position: center center;
  height: 100%;
  left: 0px;
  opacity: 0.65;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
  width: 100%;
  z-index: -2;
  background-repeat: no-repeat;
  background-size: 110% 110%;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 0.8rem;
  background: linear-gradient(-45deg, #ee7752, #2940a7, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  color: rgb(204, 204, 248);
}
.start button {
  padding: 0.5rem 2rem;
  color: rgb(240, 247, 146);
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 45%;
  border: none;
  box-shadow: 2px 2px 2px 2px black;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}

.questions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
.questions:hover > .questionCard {
  opacity: 0.3;
}
.questions:hover > .questionCard:hover {
  opacity: 1;
}
.questions:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}
.questions:hover ~ #menu-background-image {
  background-size: 130% 130%;
}
.questionCard {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  gap: 0.8rem;
  border: 1px solid grey;
  border-radius: 10px;
}
.questionCard .answers {
  display: flex;
  gap: 0.8rem;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .questionCard .answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.questionCard .answers button {
  flex-grow: 1;
  padding: 0.8rem;
  border-radius: 10px;
}

.btn {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 6px 6px 0 green;
  transition: background-image 0.5s;
}
.btn:active {
  transform: translateX(2px) translateY(2px);
  box-shadow: 4px 4px 0 green;
}
.btn.result {
  color: white;
  background-image: linear-gradient(to bottom right, gold, blue);
}
.btn.selection {
  padding: 0.5rem;
  margin: 0.5rem;
  color: rgb(9, 121, 129);
}
.btn:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, orange, blue);
  color: white;
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: 15vh;
  margin: 0.5rem;
}
.bottom-buttons .btn {
  color: rgb(255, 208, 0);
  background: transparent;
  box-shadow: 6px 6px 0 #8b0d0d;
  border: 1px solid #8b0d0d;
  transition: background 1s;
}
.bottom-buttons .btn:hover {
  background: #ee7752;
}
.bottom-buttons .btn:active {
  box-shadow: 4px 4px 0 #8b0d0d;
}

.status {
  margin: 1rem 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.status .statusBlock {
  border-radius: 10px;
  border: 1px solid orange;
  box-shadow: 5px 5px 0 orange;
  color: gold;
  background-image: linear-gradient(to bottom right, purple, red);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.fin-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.simple-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.text-box {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  color: #ee7752;
  font-size: 1rem;
  font-weight: bold;
}
.text-box:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
