*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    height:10%;
    width: 100%;
    background-image: linear-gradient(to bottom right, purple, blue);
    padding: 1rem;
    color: gold;
    box-shadow: 0 0 8px 5px white inset;
}

.app{
    height: 100vh;
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    gap: .8rem;
    background-image: linear-gradient(to bottom right, lightgreen, yellow);
    box-shadow: 0 0 20px 9px white inset;
    color: darkblue;

    button{
        padding: .5rem 2rem;
        color: purple;
        background: transparent;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 45%;
        border: none ;
        box-shadow: 2px 2px 2px 2px black;
    }
}

.questionCard{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    gap: .8rem;
    border: 1px solid grey;
    border-radius: 10px;
    .answers{
        display: flex;
        // flex-grow: 1;
        gap: .8rem;
        justify-content: space-around;
        align-items: center;

        button{
            // border: none;
            // background-color: greenyellow;
            flex-grow: 1;
            padding: .8rem;
            border-radius: 10px;
        }
    }
}

.btn{
    padding: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 6px 0 green;
    &:hover{
        cursor: pointer;
    }
    &:active{
        transform: translateX(2px) translateY(2px);
        box-shadow: 4px 4px 0 green;
    }
}

.bottom-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    height: 15vh;
    // background-color: red;
    margin: .5rem;

    .btn{
        color: #fff;
        background-color: black;
        box-shadow: 6px 6px 0 gray;

        &:active{
        // transform: translateX(2px) translateY(2px);
        box-shadow: 4px 4px 0 gray;
        }
    }
}