@use './components/index';

html{
    min-height: 100%;
    position: relative;
}

*{
    font-family: 'Alegreya', serif;;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background-color: rgb(20,20,20,);
}

header{
    height:10%;
    width: 100%;
    background-image: linear-gradient(to bottom right, purple, blue);
    padding: 1rem;
    color: gold;
    box-shadow: 0 0 8px 5px white inset;
}

@mixin mQ($arg){
    @media screen and (max-width: $arg) {
        @content
    }
}

.app{
    height: 100%;
    overflow: hidden;
}

#getstarted{
    position: relative;

    .loading{
        color: white;


    }

    &[data-active-index='0']  #menu-background-pattern{
        background-position: 50% -40%;
    }

    &[data-active-index='1']  #menu-background-pattern{
        background-position: 10% 40%;
    }

    &[data-active-index='2']  #menu-background-pattern{
        background-position: -50% 50%;
    }

    &[data-active-index='3']  #menu-background-pattern{
        background-position: 10% -30%;
    }

    &[data-active-index='4']  #menu-background-pattern{
        background-position: -40% -100%;
    }

    &[data-active-index="0"]  #menu-background-image {
        background-position: center 45%;
      }

    &[data-active-index="1"]  #menu-background-image {
        background-position: center 50%;
      }

    &[data-active-index="2"]  #menu-background-image {
        background-position: center 55%;
      }

    &[data-active-index="3"]  #menu-background-image {
        background-position: center 60%;
      }

    &[data-active-index="4"]  #menu-background-image {
        background-position: center 65%;
      }
}


#menu-background-pattern {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.445) 3%, 
      transparent 9%
    );
    background-position: 0% center;
    background-size: 12vmin 12vmin;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    // bottom: 0;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      left 800ms ease,
      background-position 2s ease;
    width: 100vw;
    z-index: -1;
  }

  #menu-background-image {
    background-image: url("https://images.unsplash.com/photo-1484589065579-248aad0d8b13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=459&q=80");
    background-position: center center;
    // background-size: auto;
    // background-size: 130vmax;
    height: 100%;
    left: 0px;
    opacity: 0.65;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
    width: 100%;
    z-index: -2;
    background-repeat: no-repeat;
        background-size: 110% 110%;

  }



.start{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: .8rem;
    // background-image: linear-gradient(to bottom right, lightgreen, yellow);

    background: linear-gradient(-45deg, #ee7752, #2940a7, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;

    // box-shadow: 0 0 20px 9px white inset;
    color: rgb(204, 204, 248);

    button{
        padding: .5rem 2rem;
        color: rgb(240, 247, 146);
        background: transparent;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 45%;
        border: none ;
        box-shadow: 2px 2px 2px 2px black;

    }
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}



.questions{

    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    flex: 1;



    &:hover > .questionCard {
        opacity: 0.3;
    }

    &:hover > .questionCard:hover {
        opacity: 1;
    }

    &:hover ~ #menu-background-pattern {
        // left: 5vmin;
        background-size: 11vmin 11vmin;
        opacity: 0.5;
    }

    &:hover ~ #menu-background-image {
        background-size: 130% 130%;
        // opacity: 0.1;
        @include mQ(400px){
            // background-size: cover;
        }
    }
}

.questionCard{
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    gap: .8rem;
    border: 1px solid grey;
    border-radius: 10px;

    .answers{
        display: flex;
        // flex-grow: 1;
        gap: .8rem;
        justify-content: space-around;
        align-items: center;

        @include mQ(400px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        button{
            // border: none;
            // background-color: greenyellow;
            flex-grow: 1;
            padding: .8rem;
            border-radius: 10px;
        }
    }



}

.btn{
    padding: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 6px 0 green;
    transition: background-image .5s;

    
    &:active{
        transform: translateX(2px) translateY(2px);
        box-shadow: 4px 4px 0 green;
    }

    &.result{
        color: white;
        background-image: linear-gradient(to bottom right, gold, blue);
    }
    
    &.selection{
        padding: .5rem;
        margin: .5rem;
        color: rgb(9, 121, 129);
    }

    &:hover{
        cursor: pointer;
        background-image: linear-gradient(to bottom right, orange, blue);
            color: white;
    }
}



.bottom-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    height: 15vh;
    // background-color: red;
    margin: .5rem;

    .btn{
        color: rgb(255, 208, 0);
        background: transparent;
        box-shadow: 6px 6px 0 #8b0d0d;
        border: 1px solid #8b0d0d;
        transition: background 1s;

        &:hover{
            background: #ee7752;
        }

        &:active{
        // transform: translateX(2px) translateY(2px);
        box-shadow: 4px 4px 0 #8b0d0d;
        }

    }
}

// .finishPage{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     height: 90vh;
//     gap: 1rem;
//     background-image: linear-gradient(to bottom right, lightgreen, yellow);
//     box-shadow: 0 0 20px 9px white inset;
//     color: darkblue;
// }


.status{
    margin: 1rem 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    .statusBlock{
        border-radius: 10px;
        border: 1px solid orange;
        box-shadow: 5px 5px 0 orange;
        color: gold;
        background-image: linear-gradient(to bottom right, purple, red);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.fin-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.simple-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.text-box{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    color: #ee7752;
    font-size: 1rem;
    font-weight: bold;

    &:focus{
        outline: none;
    }
}